*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
    padding-bottom: 20px;
}
h4{
    font-size:30px;
    font-weight: bold;
    color: 222;
}

h6{
    font-size: 16px;
}

.button {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: grey;
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

.button:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #e4cbdf;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.262);
    z-index: 999;
    /* position: sticky; */
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 15px;
}

#navbar li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:#449db1;
}

#navbar li a::after{
    content:"";
    width: 0;
    height:3px;
    background-color: #449db152;
    margin: auto;
    display: block ;
}

#navbar li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
    margin-top: 8px;
}

#navbar li a:hover{
    color:#449db152;
}
.menu-toggle {
    display: none; 
}

.menu-icon {
    display: none;
    font-size: 2rem; 
    cursor: pointer;
    color:white;
}

#container{
    display:flex;
    position:relative; 
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:100vh;
    padding:32px;
    overflow: hidden;
}

#form{
    width: 100%;
    max-width:900px;
    height:550px;
    background-color: #e4cbdf;
    border-radius: 8px;
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.247);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-info{
    padding:32px 32px;
    position: relative;
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 35px;
}
img{
    padding-top:15px;
}
.anchor{
    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 35px;
    text-decoration: none;
}
a:hover{
    color: #449db1;
}
.contact-form{
    background-color: whitesmoke;
    position: relative;
}



form{
    padding: 32px 32px;
    position: relative;
}

.title{
    color: #449db1;
    font-size: 24px;
    line-height: 1;
    margin-bottom:11px;
}

.input-container{
    position:relative;
    margin: 11px 0;
}

.input{
    width:100%;
    outline: none;
    border: 2px solid #e4cbdf;
    background: none;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 9px 19px;
    border-radius: 10px;
    /* transition: 0.3s; */

}

textarea.input{
    padding:9px 15px;
    min-height: 150px;
    border-radius:10px;
    resize: none;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform:translateY(-50%);
    padding: 0 6px;
    color: orange;
    font-size: 16px;
    z-index: 1000;
    transition: 0.5s
}

.input-container.textarea label{
    top: 16px;
    transform: translateY(0);
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size:14px;
    padding: 0 6px;
    color: transparent;
    z-index: 500;
}

.input-container span:before, .input-container span:after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transform: 0.3s;
    background-color:whitesmoke;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before{
    left: 50%;
}

.input-container span:after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform:translateY(-50%);
    left: 25px;
    font-size: 14px;
}

.input-container.focus span:before, .input-container.focus span:after{
    width: 50%;
    opacity: 1;
}

footer{
    background-color:#e4cbdf;
}

.footer-cotainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socail-icons{
    display:flex ;
    align-items: center;
    justify-content: center; 
    font-size: 32px;
}

.anchor{
    text-decoration: none;
    padding: 4px 8px;
    margin: 10px;
    border-radius: 9px;
}

i{
    color: #449db1;
    font-size: 30px;
}

i:hover{
    color: whitesmoke;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.copy{
    display: flex;
    justify-content: center;
}

.right{
    color: #449db1;
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
}


@media (max-width: 768px) {
    .right-side {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        background-color: #336021;
        z-index: 1000;
    
    }

    .menu-toggle:checked + .menu-icon + .right-side {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    #navbar {
        flex-direction: column; 
        background-color:#e4cbdf ;
    }

    #navbar li {
        margin:0;
        padding: 10px 0; 
    }
    
        #container {
            display: flex;
            position: relative;
            flex-direction: column; 
            width: 100%;
            min-height: 100vh;
            padding: 16px;
            overflow-y: auto; /* scrolling if content overflows */
        }
        
        #form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 100%;
            height: auto;
            min-height: 450px; /*  enough space for both sections */
            overflow: visible; /* Allow sections to be fully visible */
        }
    
        .contact-info {
            padding: 32px;
            text-align: center;
            display: block;
            min-height: 250px;
        
        }
    
        .contact-form {
            background-color: whitesmoke;
            padding: 32px;
            position: relative;
        }
    
        .title {
            font-size: 20px;
        }
    
        .conatct-text {
            font-size: 14px;
            padding: 10px;
        }
    
        .input {
            padding: 12px 16px;
            font-size: 16px;
        }
    }
    